{"openapi":"3.0.0","info":{"title":"OSHWA API","version":"1.0.0","x-logo":{"url":"https://certificationapi.oshwa.org/images/api-image.jpg","backgroundColor":"#000000","altText":"OSHWA"},"description":"# Introduction\n\nWelcome to the OSHWA Open Source Hardware Certification API. We hope that you will use it to build on top of the OSHWA certification program. This documentation provides information on how to use the OSHWA REST API to view, create, and search OSHWA certified open source hardware projects. You can learn more about OSHWA [here](https://www.oshwa.org/about/) and more about OSHWA’s free open source hardware certification program [here](https://certification.oshwa.org/).\n\nThis API supports both read and write functions. You can use the read functions to pull information about certified hardware from the [directory](https://certification.oshwa.org/list.html) in order to explore and present it in new ways. We encourage you to use it to find new ways to understand and visualize the world of open source hardware!\n\nYou can use the write functions to make it easier to submit registration applications to the program. Originally, the only way to submit hardware for registration was through OSHWA’s [application form](https://application.oshwa.org/apply). We hope that the write functionality will make it easier to integrate certification applications into existing workflows, and to connect platforms that already host open source hardware to the certification program.  \n\nIf you have questions or comments about the API, please email us at info@oshwa.org.  We would also love to know how you use the API! We encourage you to contact us at info@oshwa.org, or let us know on twitter at @OHSummit.\n\n# Tools\nThis API is documented in **OpenAPI format**. It is built with [Swagger](http://swagger.io) and [ReDoc](https://github.com/Redocly/redoc).\n\n# Using the API\nIn order to use the API, you must register for an API key. You can get your own API key [here](https://certificationapi.oshwa.org/). If your token is not included or is invalid, the API will return an error. If you'd like to test the endpoints, check out our [Swagger](/endpoints) implementation, where you will be able to request a key, add the key to your requests, and explore OSHWA certified projects. You will also find code examples in this documentation.\n\n# Pagination\nProject and Company results are returned in a wrapper object that contains total, limit, and offset values, which are useful for paginating over results. \n\n```\n{\n  \"total\": 200, // Total number of matching items\n  \"offset\": 0, // Number of items skipped in request\n  \"limit\": 100, // Max number of items in request\n  \"items\": [ {...} ] // List of items\n}\n```\n\nThe default `limit` for requests is 100, and the maximum `limit` is 1000. The default `offset` is 0. The above request returns the first 100 items. To get the next 100 items, the `offset` would be changed to 100. These parameters can be used to loop through the api and retrieve all items.\n\nAll items are returned in alphabetical order by `projectName`. \n\n# Authentication\n\nAll OSHWA API endpoints require Bearer Token Authentication.  You can get an API key [here](https://certificationapi.oshwa.org/).\n\n# Errors\n\nThe OSHWA API uses HTTP response status codes to indicate whether the response was successful. Detailed information about the response and how any errors might be resolved can be found in the body of the error message.\n\n```\n{\n    \"error\": {\n        \"statusCode\": 422,\n        \"errorCode\": \"Unprocessable Entity\",\n        \"message\": \"Validation Error: Input validation failed\",\n        \"details\": [\n            {\n                \"msg\": \"Responsible Party Type is required\",\n                \"param\": \"responsiblePartyType\",\n                \"location\": \"body\"\n            },\n        ]\n    }\n}\n```\n","license":{"name":"Creative Commons Attribution-ShareAlike 4.0 International License","url":"https://creativecommons.org/licenses/by-sa/4.0/legalcode"},"contact":{"name":"","url":"","email":""}},"tags":[{"name":"User","description":"User registration and authorization token request"},{"name":"Project","description":"You can use these project endpoints to access information about all of the certified hardware listed in the [certification directory](https://certification.oshwa.org/list.html). They are designed to make it easy to explore certified hardware in a number of different ways.  \n\nThere are example code snippets in a number of different languages to help you understand how to use them. Just make sure to replace `<Token>` with your API key.  You can get your own API key [here](https://certificationapi.oshwa.org/). You can also test code in our Swagger sandbox [here](https://certificationapi.oshwa.org/endpoints/#/Project).\n"},{"name":"Company","description":"You can use these company endpoints to access information about how different companies have used the certification program, and what types of hardware they have certified.  \n\nThere are example code snippets in a number of different languages to help you understand how to use them. Just make sure to replace `<Token>` with your API key. You can get your own API key [here](https://certificationapi.oshwa.org/). You can also test code in our Swagger sandbox [here](https://certificationapi.oshwa.org/endpoints/#/Company).\n"},{"name":"Options","description":"Get a list of valid options for project properties"}],"servers":[{"url":"https://certificationapi.oshwa.org/"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"User":{"type":"object","required":["firstName","lastName","email"],"properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string","format":"email","description":"Email for the user, needs to be unique."}},"example":{"firstName":"Jane","lastName":"Doe","email":"jane@example.com"}},"Project":{"type":"object","required":["responsiblePartyType","responsibleParty","bindingParty","country","projectName","primaryType","hardwareLicense","softwareLicense","documentationLicense","noCommercialRestriction","explanationNcr","noDocumentationRestriction","explanationNdr","openHardwareComponents","explanationOhwc","creatorContribution","explanationCcr","noUseRestriction","explanationNur","redistributedWork","explanationRwr","noSpecificProduct","explanationNsp","noComponentRestriction","explanationNor","technologyNeutral","explanationTn","certificationMarkTerms","explanationCertificationTerms","relationship","agreementTerms","parentName","certificationDate"],"properties":{"responsiblePartyType":{"type":"string","description":"Responsible party type. Must be either \"Individual\", \"Company\", or \"Organization\". Required."},"responsibleParty":{"type":"string","description":"Name of Individual, Company, or Organization Responsible for the Certified Item. Required."},"bindingParty":{"type":"string","description":"If not an Individual, name of Individual with Authority to Bind the Company or Organization. Required only if responsiblePartyType is not \"Individual\"."},"country":{"type":"string","description":null},"streetAddress1":{"type":"string","description":null},"streetAddress2":{"type":"string","description":null},"city":{"type":"string","description":null},"state":{"type":"string","description":null},"postalCode":{"type":"string","description":null},"privateContact":{"type":"string","description":null,"format":"email"},"publicContact":{"type":"string","description":null,"format":"email"},"projectName":{"type":"string","description":null},"projectWebsite":{"type":"string","description":null},"projectVersion":{"type":"string","description":"e.g. 1.0"},"previousVersions":{"type":"array","items":{"type":"string"},"description":"An array of OSHWA UIDs"},"projectDescription":{"type":"string","description":null},"primaryType":{"type":"string","description":"Primary project type. The GET api/options endpoint provides all valid options."},"additionalType":{"type":"array","items":{"type":"string"},"description":"Additional project types. The GET api/options endpoint provides all valid options."},"projectKeywords":{"type":"array","items":{"type":"string"},"description":"Additional searchable keywords"},"citations":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"}}},"description":"If the project incorporates or builds upon other open projects that are not currently certified by OSHWA, this field can be used to cite those projects."},"documentationUrl":{"type":"string","description":"URL for project documentation"},"availableFileFormat":{"type":"boolean","description":"All project documentation and design files are available in the preferred format for making changes."},"hardwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"softwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"documentationLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"noCommercialRestriction":{"type":"string","description":"The project is licensed in a way to allow for modifications and derivative works without commercial restriction."},"explanationNcr":{"type":"string","description":"Explanation is required if noCommercialRestriction is false."},"noDocumentationRestriction":{"type":"boolean","description":"There is no restriction within my control to selling or giving away the project documentation."},"explanationNdr":{"type":"string","description":"Explanation is required if noDocumentationRestriction is false."},"openHardwareComponents":{"type":"boolean","description":"Where possible, I have chosen to use components in my hardware that are openly licensed."},"explanationOhwc":{"type":"string","description":"Explanation is required if openHardwareComponents is false."},"creatorContribution":{"type":"boolean","description":"I understand and comply with the \"Creator Contribution requirement,\" explained in the Requirements for Certification."},"explanationCcr":{"type":"string","description":"Explanation is required if creatorContribution is false."},"noUseRestriction":{"type":"boolean","description":"There is no restriction on the use by persons or groups, or by the field of endeavor."},"explanationNur":{"type":"string","description":"Explanation is required if noUseRestriction is false."},"redistributedWork":{"type":"boolean","description":"The rights granted by any license on the project applies to all whom the work is redistributed to."},"explanationRwr":{"type":"string","description":"Explanation is required if redistributedWork is false."},"noSpecificProduct":{"type":"boolean","description":"The rights granted under any license on the project do not depend on the licensed work being part of a specific product."},"explanationNsp":{"type":"string","description":"Explanation is required if noSpecificProduct is false."},"noComponentRestriction":{"type":"boolean","description":"The rights granted under any license on the project do not restrict other hardware or software, for example by requiring that all other hardware or software sold with the item be open source."},"explanationNor":{"type":"string","description":"Explanation is required if noComponentRestriction is false."},"technologyNeutral":{"type":"boolean","description":"The rights granted under any license on the project are technology neutral."},"explanationTn":{"type":"string","description":"Explanation is required if technologyNeutral is false."},"certificationMarkTerms":{"type":"object","description":"Certification Mark Terms","properties":{"accurateContactInformation":{"type":"object","description":"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.","properties":{"agreement":{"type":"boolean"}}},"complianceWithOfficialCertificationGuidelines":{"type":"object","description":"I will only use the certification mark in compliance with official certification guidelines.","properties":{"agreement":{"type":"boolean"}}},"oshwaCertificationMark":{"type":"object","description":"I acknowledge that all right, title, and interest in the certification mark remains with OSHWA.","properties":{"agreement":{"type":"boolean"}}},"violationsEnforcement":{"type":"object","description":"I acknowledge that OSHWA has the right to enforce violations of the use of the mark. This enforcement may involve financial penalties for misuse in bad faith.","properties":{"agreement":{"type":"boolean"}}},"responsibility":{"type":"object","description":"I have the ability to bind those responsible for the certified item to this agreement.","properties":{"agreement":{"type":"boolean"}}}}},"explanationCertificationTerms":{"type":"string","description":"Explanation for certification mark terms"},"relationship":{"type":"string","description":"Relationship"},"agreementTerms":{"type":"boolean","description":"Agreement to terms"},"parentName":{"type":"string","description":"Parent name"}},"example":{"responsiblePartyType":"Individual","responsibleParty":"Company Name","bindingParty":"Jane Doe","country":"United States of America","streetAddress1":"255 Pouros Circle","streetAddress2":"Suite 123","city":"Raleigh","state":"North Carolina","postalCode":27616,"privateContact":"jane@example.com","publicContact":"jane.doe@example.com","projectName":"My Open Source Project","projectWebsite":"https://example.com","projectVersion":1,"previousVersions":["US000000"],"projectDescription":"Open source project description","primaryType":"Electronics","additionalType":["3D Printing"],"projectKeywords":["electronics"],"citations":[{"url":"https://example.com","title":"My first citation"}],"documentationUrl":"https://example.com","availableFileFormat":true,"hardwareLicense":"Other","softwareLicense":"No software","documentationLicense":"Other","noCommercialRestriction":true,"explanationNcr":"Lorem ipsum dolor sit amet.","noDocumentationRestriction":true,"explanationNdr":"Lorem ipsum dolor sit amet.","openHardwareComponents":true,"explanationOhwc":"Lorem ipsum dolor sit amet.","creatorContribution":true,"explanationCcr":"Lorem ipsum dolor sit amet.","noUseRestriction":true,"explanationNur":"Lorem ipsum dolor sit amet.","redistributedWork":true,"explanationRwr":"Lorem ipsum dolor sit amet.","noSpecificProduct":true,"explanationNsp":"Lorem ipsum dolor sit amet.","noComponentRestriction":true,"explanationNor":"Lorem ipsum dolor sit amet.","technologyNeutral":true,"explanationTn":"Lorem ipsum dolor sit amet.","certificationMarkTerms":{"accurateContactInformation":{"term":"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.","agreement":true},"complianceWithOfficialCertificationGuidelines":{"term":"I will only use the certification mark in compliance with official certification guidelines.","agreement":true},"oshwaCertificationMark":{"term":"I acknowledge that all right, title, and interest in the certification mark remains with OSHWA.","agreement":true},"violationsEnforcement":{"term":"I acknowledge that OSHWA has the right to enforce violations of the use of the mark. This enforcement may involve financial penalties for misuse in bad faith.","agreement":true},"responsibility":{"term":"I have the ability to bind those responsible for the certified item to this agreement.","agreement":true}},"explanationCertificationTerms":"Lorem ipsum dolor sit amet.","relationship":"self","agreementTerms":true,"parentName":"J Doe"}},"PublicProject":{"type":"object","properties":{"oshwaUid":{"type":"string","description":"Assigned by OSHWA admin"},"responsibleParty":{"type":"string","description":"Name of Individual, Company, or Organization Responsible for the Certified Item. Required."},"country":{"type":"string","description":null},"publicContact":{"type":"string","description":null,"format":"email"},"projectName":{"type":"string","description":null},"projectWebsite":{"type":"string","description":null},"projectVersion":{"type":"string","description":"e.g. 1.0"},"previousVersions":{"type":"array","items":{"type":"string"},"description":"An array of OSHWA UIDs"},"projectDescription":{"type":"string","description":null},"primaryType":{"type":"string","description":"Primary project type. The GET api/options endpoint provides all valid options."},"additionalType":{"type":"array","items":{"type":"string"},"description":"Additional project types. The GET api/options endpoint provides all valid options."},"projectKeywords":{"type":"array","items":{"type":"string"},"description":"Additional searchable keywords"},"citations":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"}}},"description":"If the project incorporates or builds upon other open projects that are not currently certified by OSHWA, this field can be used to cite those projects."},"documentationUrl":{"type":"string","description":"URL for project documentation"},"hardwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"softwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"documentationLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"certificationDate":{"type":"date","description":"Certification date"}},"example":{"oshwaUid":"US000001,","responsibleParty":"Example Company Name","country":"United States of America","publicContact":"contact@example.com","projectName":"My Open Source Project","projectWebsite":"https://example.com","projectVersion":1,"previousVersions":["US000000"],"projectDescription":"Open source project description","primaryType":"Electronics","additionalType":["3D Printing"],"projectKeywords":["electronics"],"citations":[{"url":"https://example.com","title":"My first citation"}],"documentationUrl":"https://example.com","hardwareLicense":"Other","softwareLicense":"No software","documentationLicense":"Other","certificationDate":"2020-04-09T00:00-04:00"}},"PublicProjects":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of results"},"offset":{"type":"integer","description":"Number of results skipped"},"limit":{"type":"integer","description":"Number of results per request"},"items":{"type":"array","description":"List of results","items":{"type":"object","properties":{"oshwaUid":{"type":"string","description":"Assigned by OSHWA admin"},"responsibleParty":{"type":"string","description":"Name of Individual, Company, or Organization Responsible for the Certified Item. Required."},"country":{"type":"string","description":null},"publicContact":{"type":"string","description":null,"format":"email"},"projectName":{"type":"string","description":null},"projectWebsite":{"type":"string","description":null},"projectVersion":{"type":"string","description":"e.g. 1.0"},"previousVersions":{"type":"array","items":{"type":"string"},"description":"An array of OSHWA UIDs"},"projectDescription":{"type":"string","description":null},"primaryType":{"type":"string","description":"Primary project type. The GET api/options endpoint provides all valid options."},"additionalType":{"type":"array","items":{"type":"string"},"description":"Additional project types. The GET api/options endpoint provides all valid options."},"projectKeywords":{"type":"array","items":{"type":"string"},"description":"Additional searchable keywords"},"citations":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"}}},"description":"If the project incorporates or builds upon other open projects that are not currently certified by OSHWA, this field can be used to cite those projects."},"documentationUrl":{"type":"string","description":"URL for project documentation"},"hardwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"softwareLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"documentationLicense":{"type":"string","description":"The GET api/options endpoint provides all valid options."},"certificationDate":{"type":"date","description":"Certification date"}}}}},"example":{"total":200,"offset":0,"limit":100,"items":[{"oshwaUid":"US000001,","responsibleParty":"Example Company Name","country":"United States of America","publicContact":"contact@example.com","projectName":"My Open Source Project","projectWebsite":"https://example.com","projectVersion":1,"previousVersions":["US000000"],"projectDescription":"Open source project description","primaryType":"Electronics","additionalType":["3D Printing"],"projectKeywords":["electronics"],"citations":[{"url":"https://example.com","title":"My first citation"}],"documentationUrl":"https://example.com","hardwareLicense":"Other","softwareLicense":"No software","documentationLicense":"Other","certificationDate":"2020-04-09T00:00-04:00"}]}},"ApiError":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"string"},"errorCode":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"msg":{"type":"string"},"param":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"},"type":{"type":"string"},"details":{"type":"string"},"path":{"type":"array","items":{"type":"string"}}}}}}}},"example":{"error":{"statusCode":422,"errorCode":"Unprocessable Entity","message":"There was something wrong with the request. Please see the error details for more information.","details":[{"msg":"Hardware license is required"},{"param":"hardwareLicense"},{"location":"body"}]}}}},"responses":{"NotFound":{"description":"The requested resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"error":{"statusCode":404,"errorCode":"Not Found"}}}}},"AccessTokenInvalid":{"description":"Required access token is missing or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"error":{"statusCode":401,"errorCode":"Access Token Invalid","message":"Please provide a valid access token. You can request a token at http://localhost:5000/users/signup"}}}}},"DataValidationError":{"description":"Invalid fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"error":{"statusCode":422,"errorCode":"Unprocessable Entity","message":"Validation error","details":"The type of \\n\"value\\n\" is incorrect, expected type: Boolean","path":["fields","noUseRestriction","en-US"]}}}}}}},"paths":{"/users/signup":{"post":{"summary":"Register as user and receive an api token to authorize API requests.","tags":["User"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["firstName","lastName","email"],"properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string","format":"email"}},"example":{"firstName":"Jane","lastName":"Doe","email":"jane@example.com"}}}}},"responses":{"201":{"description":"User registration successful and API token created","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"}},"example":{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZWJhYzUzNDk1NGI1NDEzOTgwNmMxMTIiLCJpYXQiOjE1ODkyOTg0ODQsImV4cCI6MTU4OTMwMDI4NH0.m1U63blB0MLej_WfB7yC2FTMnCziif9X8yzwDEfJXAg"}}}}},"422":{"$ref":"#/components/responses/DataValidationError"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request POST 'https://certificationapi.oshwa.org/users/signup' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n   \"firstName\": \"<firstName>\",\n   \"lastName\": \"<lastName>\",\n   \"email\": \"<email>\"\n}'\n"},{"lang":"JavaScript","source":"var data = JSON.stringify({\"firstName\":\"<firstName>\",\"lastName\":\"<lastName>\",\"email\":\"<email>\"});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://certificationapi.oshwa.org/users/signup\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\n\nxhr.send(data);\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'POST',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/users/signup',\n  'headers': {\n    'Content-Type': 'application/json'\n   },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n\n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nvar postData = JSON.stringify({\"firstName\":\"<firstName>\",\"lastName\":\"<lastName>\",\"email\":\"<email>\"});\n\nreq.write(postData);\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/users/signup\"\n\npayload = \"{\\\"firstName\\\": \\\"Jane\\\",\\\"lastName\\\": \\\"Doe\\\",\\\"email\\\": \\\"jane@example.com\\\"}\"\nheaders = {\n    'Content-Type': 'application/json',\n}\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/users/signup\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest.body = \"{\\n    \\\"firstName\\\": \\\"<firstName>\\\",\\n    \\\"lastName\\\": \\\"<lastName>\\\",\\n    \\\"email\\\": \\\"<email>\\\"\\n}\"\nresponse = https.request(request)\nputs response.read_body\n"}]}},"/api/projects":{"get":{"summary":"Get all OSHWA certified projects","tags":["Project"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"q","schema":{"type":"string"},"description":"Full text search across project text fields"},{"in":"query","name":"types","schema":{"type":"string"},"description":"Returns matches in primaryType, additionalType, or projectKeywords. Multiple types can be searched with comma-separated values, i.e. `arts,education,electronics`"},{"in":"query","name":"oshwaUid","schema":{"type":"string"},"description":"OSHWA UID"},{"in":"query","name":"projectName","schema":{"type":"string"},"description":"Project Name"},{"in":"query","name":"country","schema":{"type":"string"},"description":"Country"},{"in":"query","name":"primaryType","schema":{"type":"string"},"description":"Primary Type"},{"in":"query","name":"additionalType","schema":{"type":"array","items":{"type":"string"}},"description":"Additional Type"},{"in":"query","name":"projectKeywords","schema":{"type":"array","items":{"type":"string"}},"description":"Project Keywords"},{"in":"query","name":"hardwareLicense","schema":{"type":"string"},"description":"Hardware License"},{"in":"query","name":"softWare License","schema":{"type":"string"},"description":"Software License"},{"in":"query","name":"documentationLicense","schema":{"type":"string"},"description":"Documentation License"},{"in":"query","name":"limit","schema":{"type":"integer"},"description":"The number of items to return. Default is 100, maximum is 1000"},{"in":"query","name":"offset","schema":{"type":"integer"},"description":"The number of records to skip when retrieving results"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/PublicProjects"}}}},"401":{"$ref":"#/components/responses/AccessTokenInvalid"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request GET 'https://certificationapi.oshwa.org/api/projects' \\\n--header 'Authorization: Bearer <Token>'\n"},{"lang":"JavaScript","source":"var xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://certificationapi.oshwa.org/api/projects\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer <Token>\");\n\nxhr.send();\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'GET',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/api/projects',\n  'headers': {\n    'Authorization': 'Bearer <Token>'\n   },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n\n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/api/projects\"\n\npayload = {}\nheaders = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer <Token>'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/api/projects\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer <Token>\"\n\nresponse = https.request(request)\nputs response.read_body\n"}]},"post":{"summary":"Create a project for OSHWA certification","tags":["Project"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"project":{"$ref":"#/components/schemas/Project"}}}}}},"401":{"$ref":"#/components/responses/AccessTokenInvalid"},"422":{"$ref":"#/components/responses/DataValidationError"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request POST 'https://certificationapi.oshwa.org/api/projects/' \\\n--header 'Authorization: Bearer <Token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"responsiblePartyType\": \"Individual\",\n    \"responsibleParty\": \"Company Name\",\n    \"bindingParty\": \"Jane Doe\",\n    \"country\": \"United States of America\",\n    \"streetAddress1\": \"255 Pouros Circle\",\n    \"streetAddress2\": \"Suite 123\",\n    \"city\": \"Raleigh\",\n    \"state\": \"NC\",\n    \"postalCode\": \"27616\",\n    \"privateContact\": \"jane@example.com\",\n    \"publicContact\": \"jane.doe@example.com\",\n    \"projectName\": \"My Open Source Project\",\n    \"projectWebsite\": \"https://www.example.com\",\n    \"projectVersion\": \"1.0\",\n    \"previousVersions\": [\"US000000\"],\n    \"projectDescription\": \"Lorem ipsum dolor sit amet.\",\n    \"primaryType\": \"Electronics\",\n    \"additionalType\": [\n        \"3D Printing\"\n    ],\n    \"projectKeywords\": [\n        \"3D Printing\",\n        \"electronics\"\n    ],\n    \"citations\": [\n        {\n            \"title\": \"First Citation\",\n            \"url\": \"https://www.example.com\"\n        }\n    ],\n    \"documentationUrl\": \"https://www.example.com\",\n    \"availableFileFormat\": false,\n    \"hardwareLicense\": \"CERN\",\n    \"softwareLicense\": \"Apache\",\n    \"documentationLicense\": \"CC 0\",\n    \"noCommercialRestriction\": false,\n    \"explanationNcr\": \"Lorem ipsum dolor sit amet.\",\n    \"noDocumentationRestriction\": false,\n    \"explanationNdr\": \"Lorem ipsum dolor sit amet.\",\n    \"openHardwareComponents\": \"false\",\n    \"explanationOhwc\": \"Lorem ipsum dolor sit amet.\",\n    \"creatorContribution\": false,\n    \"explanationCcr\": \"Lorem ipsum dolor sit amet.\",\n    \"noUseRestriction\": false,\n    \"explanationNur\": \"Lorem ipsum dolor sit amet.\",\n    \"redistributedWork\": false,\n    \"explanationRwr\": \"Lorem ipsum dolor sit amet.\",\n    \"noSpecificProduct\": \"false\",\n    \"explanationNsp\": \"Lorem ipsum dolor sit amet.\",\n    \"noComponentRestriction\": false,\n    \"explanationNor\": \"Lorem ipsum dolor sit amet.\",\n    \"technologyNeutral\": false,\n    \"explanationTn\": \"Lorem ipsum dolor sit amet.\",\n    \"certificationMarkTerms\": {\n        \"accurateContactInformation\": {\n            \"term\": \"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.\",\n            \"agreement\": true\n        }\n    },\n    \"explanationCertificationTerms\": \"Lorem ipsum dolor sit amet.\",\n    \"relationship\": \"self\",\n    \"agreementTerms\": true,\n    \"parentName\": \"J Doe\"\n}'\n"},{"lang":"JavaScript","source":"var data = JSON.stringify({\"responsiblePartyType\":\"Individual\",\"responsibleParty\":\"Company Name\",\"bindingParty\":\"Jane Doe\",\"country\":\"United States of America\",\"streetAddress1\":\"255 Pouros Circle\",\"streetAddress2\":\"Suite 123\",\"city\":\"Raleigh\",\"state\":\"NC\",\"postalCode\":\"27616\",\"privateContact\":\"jane@example.com\",\"publicContact\":\"jane.doe@example.com\",\"projectName\":\"My Open Source Project\",\"projectWebsite\":\"https://www.example.com\",\"projectVersion\":\"1.0\",\"previousVersions\":[\"US000236\"],\"projectDescription\":\"Lorem ipsum dolor sit amet.\",\"primaryType\":\"Electronics\",\"additionalType\":[\"3D Printing\"],\"projectKeywords\":[\"3D Printing\",\"electronics\"],\"citations\":[{\"title\":\"First Citation\",\"url\":\"https://www.example.com\"}],\"documentationUrl\":\"https://www.example.com\",\"availableFileFormat\":false,\"hardwareLicense\":\"CERN\",\"softwareLicense\":\"Apache\",\"documentationLicense\":\"CC 0\",\"noCommercialRestriction\":false,\"explanationNcr\":\"Lorem ipsum dolor sit amet.\",\"noDocumentationRestriction\":false,\"explanationNdr\":\"Lorem ipsum dolor sit amet.\",\"openHardwareComponents\":\"false\",\"explanationOhwc\":\"Lorem ipsum dolor sit amet.\",\"creatorContribution\":false,\"explanationCcr\":\"Lorem ipsum dolor sit amet.\",\"noUseRestriction\":false,\"explanationNur\":\"Lorem ipsum dolor sit amet.\",\"redistributedWork\":false,\"explanationRwr\":\"Lorem ipsum dolor sit amet.\",\"noSpecificProduct\":\"false\",\"explanationNsp\":\"Lorem ipsum dolor sit amet.\",\"noComponentRestriction\":false,\"explanationNor\":\"Lorem ipsum dolor sit amet.\",\"technologyNeutral\":false,\"explanationTn\":\"Lorem ipsum dolor sit amet.\",\"certificationMarkTerms\":{\"accurateContactInformation\":{\"term\":\"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.\",\"agreement\":true}},\"explanationCertificationTerms\":\"Lorem ipsum dolor sit amet.\",\"relationship\":\"self\",\"agreementTerms\":true,\"parentName\":\"J Doe\"});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://certificationapi.oshwa.org/api/projects/\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer <Token>\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\n\nxhr.send(data);\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'POST',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/api/projects/',\n  'headers': {\n    'Authorization': 'Bearer <Token>',\n    'Content-Type': 'application/json'\n  },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n\n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nvar postData = JSON.stringify({\"responsiblePartyType\":\"Individual\",\"responsibleParty\":\"Company Name\",\"bindingParty\":\"Jane Doe\",\"country\":\"United States of America\",\"streetAddress1\":\"255 Pouros Circle\",\"streetAddress2\":\"Suite 123\",\"city\":\"Raleigh\",\"state\":\"NC\",\"postalCode\":\"27616\",\"privateContact\":\"jane@example.com\",\"publicContact\":\"jane.doe@example.com\",\"projectName\":\"My Op\",\"projectWebsite\":\"https://www.example.com\",\"projectVersion\":\"1.0\",\"previousVersions\":[\"US000236\"],\"projectDescription\":\"Lorem ipsum dolor sit amet.\",\"primaryType\":\"Electronics\",\"additionalType\":[\"3D Printing\"],\"projectKeywords\":[\"3D Printing\",\"electronics\"],\"citations\":[{\"title\":\"First Citation\",\"url\":\"https://www.example.com\"}],\"documentationUrl\":\"https://www.example.com\",\"availableFileFormat\":false,\"hardwareLicense\":\"CERN\",\"softwareLicense\":\"Apache\",\"documentationLicense\":\"CC 0\",\"noCommercialRestriction\":false,\"explanationNcr\":\"Lorem ipsum dolor sit amet.\",\"noDocumentationRestriction\":false,\"explanationNdr\":\"Lorem ipsum dolor sit amet.\",\"openHardwareComponents\":\"false\",\"explanationOhwc\":\"Lorem ipsum dolor sit amet.\",\"creatorContribution\":false,\"explanationCcr\":\"Lorem ipsum dolor sit amet.\",\"noUseRestriction\":false,\"explanationNur\":\"Lorem ipsum dolor sit amet.\",\"redistributedWork\":false,\"explanationRwr\":\"Lorem ipsum dolor sit amet.\",\"noSpecificProduct\":\"false\",\"explanationNsp\":\"Lorem ipsum dolor sit amet.\",\"noComponentRestriction\":false,\"explanationNor\":\"Lorem ipsum dolor sit amet.\",\"technologyNeutral\":false,\"explanationTn\":\"Lorem ipsum dolor sit amet.\",\"certificationMarkTerms\":{\"accurateContactInformation\":{\"term\":\"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.\",\"agreement\":true}},\"explanationCertificationTerms\":\"Lorem ipsum dolor sit amet.\",\"relationship\":\"self\",\"agreementTerms\":true,\"parentName\":\"J Doe\"});\n\nreq.write(postData);\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/api/projects\"\n\npayload = \"{\\\"responsiblePartyType\\\": \\\"Individual\\\",\\\"responsibleParty\\\": \\\"Company Name\\\",\\\"bindingParty\\\": \\\"Jane Doe\\\",\\\"country\\\": \\\"United States of America\\\",\\\"streetAddress1\\\": \\\"255 Pouros Circle\\\",\\\"streetAddress2\\\": \\\"Suite 123\\\",\\\"city\\\": \\\"Raleigh\\\",\\\"state\\\": \\\"NC\\\",\\\"postalCode\\\": \\\"27616\\\",\\\"privateContact\\\": \\\"jane@example.com\\\",\\\"publicContact\\\": \\\"jane.doe@example.com\\\",\\\"projectName\\\": \\\"My Open Source Project\\\",\\\"projectWebsite\\\": \\\"https://www.example.com\\\",\\\"projectVersion\\\": \\\"1.0\\\",\\\"previousVersions\\\": [    \\\"US000236\\\"],\\\"projectDescription\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"primaryType\\\": \\\"Electronics\\\",\\\"additionalType\\\": [    \\\"3D Printing\\\"],\\\"projectKeywords\\\": [    \\\"3D Printing\\\",    \\\"electronics\\\"],\\\"citations\\\": [    {        \\\"title\\\": \\\"First Citation\\\",        \\\"url\\\": \\\"https://www.example.com\\\"    }],\\\"documentationUrl\\\": \\\"https://www.example.com\\\",\\\"availableFileFormat\\\": false,\\\"hardwareLicense\\\": \\\"CERN\\\",\\\"softwareLicense\\\": \\\"Apache\\\",\\\"documentationLicense\\\": \\\"CC 0\\\",\\\"noCommercialRestriction\\\": false,\\\"explanationNcr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"noDocumentationRestriction\\\": false,\\\"explanationNdr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"openHardwareComponents\\\": \\\"false\\\",\\\"explanationOhwc\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"creatorContribution\\\": false,\\\"explanationCcr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"noUseRestriction\\\": false,\\\"explanationNur\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"redistributedWork\\\": false,\\\"explanationRwr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"noSpecificProduct\\\": \\\"false\\\",\\\"explanationNsp\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"noComponentRestriction\\\": false,\\\"explanationNor\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"technologyNeutral\\\": false,\\\"explanationTn\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"certificationMarkTerms\\\": {    \\\"accurateContactInformation\\\": {        \\\"term\\\": \\\"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.\\\",        \\\"agreement\\\": true    }},\\\"explanationCertificationTerms\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\\"relationship\\\": \\\"self\\\",\\\"agreementTerms\\\": true,\\\"parentName\\\": \\\"J Doe\\\"}\"\nheaders = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer <Token>'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/api/projects/\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = \"Bearer <Token>\"\nrequest[\"Content-Type\"] = \"application/json\"\nrequest.body = \"{\\n    \\\"responsiblePartyType\\\": \\\"Individual\\\",\\n    \\\"responsibleParty\\\": \\\"Company Name\\\",\\n    \\\"bindingParty\\\": \\\"Jane Doe\\\",\\n    \\\"country\\\": \\\"United States of America\\\",\\n    \\\"streetAddress1\\\": \\\"255 Pouros Circle\\\",\\n    \\\"streetAddress2\\\": \\\"Suite 123\\\",\\n    \\\"city\\\": \\\"Raleigh\\\",\\n    \\\"state\\\": \\\"NC\\\",\\n    \\\"postalCode\\\": \\\"27616\\\",\\n    \\\"privateContact\\\": \\\"jane@example.com\\\",\\n    \\\"publicContact\\\": \\\"jane.doe@example.com\\\",\\n    \\\"projectName\\\": \\\"My Op\\\",\\n    \\\"projectWebsite\\\": \\\"https://www.example.com\\\",\\n    \\\"projectVersion\\\": \\\"1.0\\\",\\n    \\\"previousVersions\\\": [\\\"US000236\\\"],\\n    \\\"projectDescription\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"primaryType\\\": \\\"Electronics\\\",\\n    \\\"additionalType\\\": [\\n        \\\"3D Printing\\\"\\n    ],\\n    \\\"projectKeywords\\\": [\\n        \\\"3D Printing\\\",\\n        \\\"electronics\\\"\\n    ],\\n    \\\"citations\\\": [\\n        {\\n            \\\"title\\\": \\\"First Citation\\\",\\n            \\\"url\\\": \\\"https://www.example.com\\\"\\n        }\\n    ],\\n    \\\"documentationUrl\\\": \\\"https://www.example.com\\\",\\n    \\\"availableFileFormat\\\": false,\\n    \\\"hardwareLicense\\\": \\\"CERN\\\",\\n    \\\"softwareLicense\\\": \\\"Apache\\\",\\n    \\\"documentationLicense\\\": \\\"CC 0\\\",\\n    \\\"noCommercialRestriction\\\": false,\\n    \\\"explanationNcr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"noDocumentationRestriction\\\": false,\\n    \\\"explanationNdr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"openHardwareComponents\\\": \\\"false\\\",\\n    \\\"explanationOhwc\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"creatorContribution\\\": false,\\n    \\\"explanationCcr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"noUseRestriction\\\": false,\\n    \\\"explanationNur\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"redistributedWork\\\": false,\\n    \\\"explanationRwr\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"noSpecificProduct\\\": \\\"false\\\",\\n    \\\"explanationNsp\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"noComponentRestriction\\\": false,\\n    \\\"explanationNor\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"technologyNeutral\\\": false,\\n    \\\"explanationTn\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"certificationMarkTerms\\\": {\\n        \\\"accurateContactInformation\\\": {\\n            \\\"term\\\": \\\"I have provided OSHWA with accurate contact information, recognize that all official communications from OSHWA will be directed to that contact information, and will update that contact information as necessary.\\\",\\n            \\\"agreement\\\": true\\n        }\\n    },\\n    \\\"explanationCertificationTerms\\\": \\\"Lorem ipsum dolor sit amet.\\\",\\n    \\\"relationship\\\": \\\"self\\\",\\n    \\\"agreementTerms\\\": true,\\n    \\\"parentName\\\": \\\"J Doe\\\"\\n}\"\n\nresponse = https.request(request)\nputs response.read_body\n"}]}},"/api/projects/{id}":{"get":{"summary":"Get an OSHWA certified project by ID.","tags":["Project"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","description":"Project id"}}],"responses":{"200":{"description":"OK. If there are no results, an empty array is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicProject"}}}},"401":{"$ref":"#/components/responses/AccessTokenInvalid"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request GET 'https://certificationapi.oshwa.org/api/projects/<id>' \\\n--header 'Authorization: Bearer <Token>'\n"},{"lang":"JavaScript","source":"var xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://certificationapi.oshwa.org/api/projects/<id>\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer <Token>\");\n\nxhr.send();\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'GET',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/api/projects/<id>',\n  'headers': {\n    'Authorization': 'Bearer <Token>'\n   },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n\n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/api/projects/<id>\"\n\npayload  = {}\nheaders = {\n  'Content-Type': 'application/json',\n  'Authorization': 'Bearer <Token>'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/api/projects/<id>\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer <Token>\"\n\nresponse = https.request(request)\nputs response.read_body\n"}]}},"/api/companies/{name}":{"get":{"summary":"Search by company name","tags":["Company"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string","description":"Company name"}},{"in":"query","name":"limit","schema":{"type":"integer"},"description":"The number of items to return. Default is 100, maximum is 1000"},{"in":"query","name":"offset","schema":{"type":"integer"},"description":"The number of records to skip when retrieving results"}],"responses":{"200":{"description":"OK. If there are no results, an empty array is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicProjects"}}}},"401":{"$ref":"#/components/responses/AccessTokenInvalid"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request GET 'https://certificationapi.oshwa.org/api/companies/<name>' \\\n--header 'Authorization: Bearer <Token>'\n"},{"lang":"JavaScript","source":"var xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://certificationapi.oshwa.org/api/companies/<name>\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer <Token>\");\n\nxhr.send();\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'GET',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/api/companies/<name>',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer <Token>'\n   },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n\n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/api/companies/<name>\"\n\npayload  = {}\nheaders = {\n  'Content-Type': 'application/json',\n  'Authorization': 'Bearer <Token>'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/api/companies/<name>\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer <Token>\"\n\nresponse = https.request(request)\nputs response.read_body\n"}]}},"/api/options":{"get":{"summary":"Get a list of valid project values for country, responsibleParty, primaryType, additionalType, hardwareLicense,softwareLicense, and documentationLicense fields.","tags":["Options"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":null,"content":{"application/json":{"schema":{"type":"object","properties":{"countryOptions":{"type":"array","items":{"type":"string"}},"responsiblePartyTypeOptions":{"type":"array","items":{"type":"string"}},"primaryTypeOptions":{"type":"array","items":{"type":"string"}},"additionalTypeOptions":{"type":"array","items":{"type":"string"}},"hardwareLicenseOptions":{"type":"array","items":{"type":"string"}},"softwareLicenseOptions":{"type":"array","items":{"type":"string"}},"documentationLicenseOptions":{"type":"array","items":{"type":"string"}}},"example":{"countryOptions":["Afghanistan","Albania","Algeria"],"responsiblePartyTypeOptions":["Individaual","Company","Organization"],"primaryTypeOptions":["3D Printing","Agriculture","Arts"],"additionalTypeOptions":["3D Printing","Agriculture","Arts"],"hardwareLicenseOptions":["CERN","Solderpad"],"softwareLicenseOptions":["Apache","GPL"],"documentationLicenseOptions":["CC 0","CC BY"]}}}}},"401":{"$ref":"#/components/responses/AccessTokenInvalid"}},"x-code-samples":[{"lang":"cURL","source":"curl --location --request GET 'https://certificationapi.oshwa.org/api/options' \\\n--header 'Authorization: Bearer <Token>'\n"},{"lang":"JavaScript","source":"var xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function() {\n  if(this.readyState === 4) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://certificationapi.oshwa.org/api/options\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer <Token>\");\n\nxhr.send();\n"},{"lang":"NodeJs","source":"var http = require('follow-redirects').http;\n\nvar options = {\n  'method': 'GET',\n  'hostname': 'certificationapi.oshwa.org',\n  'path': '/api/options',\n  'headers': {\n    'Authorization': 'Bearer <Token>'\n   },\n  'maxRedirects': 20\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n    \n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n  \n  res.on(\"end\", function (chunk) {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n  \n  res.on(\"error\", function (error) {\n    console.error(error);\n  });\n});\n\nreq.end();\n"},{"lang":"Python","source":"import requests\n\nurl = \"https://certificationapi.oshwa.org/api/options\"\n\npayload  = {}\nheaders = {\n  'Content-Type': 'application/json',\n  'Authorization': 'Bearer <Token>'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data = payload)\n\nprint(response.text.encode('utf8'))\n"},{"lang":"Ruby","source":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"https://certificationapi.oshwa.org/api/options\")\n\nhttps = Net::HTTP.new(url.host, url.port);\nhttps.use_ssl = true\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer <Token>\"\n\nresponse = https.request(request)\nputs response.read_body\n"}]}}}}